h1
{
    color:#ff0000;
    font-size:30px;
}

/*
.mainButton
{
    color:#ff0000;
    font-size:60px;
}
*/

body
{
    background: #336699;
}

#testButton
{
    color:#ff0000;
    font-size:60px;
    border:3px solid #000;
    padding: 20px;
    width: 500px;
    /*
height: 80px;
*/
}
