body
{
    background:powderblue;
}

#paragraphs
{
    border:3px solid #000;
    
    width: 400px;
    height: 150px;
    left:50%;
    
    position: fixed;
    
    margin:0 auto 0 -200px;
    
    z-index:2;
}

p
{
    
    color:#FFFFFF;
    text-align: center;
    font-size:20px;
}

/*
h1
{
    color:#ff0000;
    font-size:30px;
}
*/


#titleBlock
{
    
    background:#232F3E;
    
    
    width: 100%;

    height: 240px;
    
    /*
    position: absolute;
    */
    
    position: fixed;
    top: 0;
    left: 0;   
    
    z-index:1;
    
}

#titleSpace
{
    width: 100%;

    height: 240px;
}

#content
{

    border:3px solid #000;
    
    position: absolute;
        
        
    margin:500 auto 0 auto;
     
}

.contentContainer
{
   /*
 margin:0 auto 0 auto;
 */
}

.titleBlockContainer 
{
 width:100%;
 /*
 border:3px solid #ff0000;
 */

 /*
 margin:0 auto 0 auto;
 */
}

#firstPageButton
{
    color:#ff0000;
    font-size:60px;
    
    border:3px solid #000;
    
    
    padding: 20px;
    
    
    width: 150px;
    
    
    height: 80px;

}
