body
{
    background:powderblue;
}

#paragraphs
{
    border:3px solid #000;
    
    width: 400px;
    height: 150px;
    left:50%;
    
    position: fixed;
    
    margin:0 auto 0 -200px;
    
    z-index:2;
}

p
{
    
    color:#FFFFFF;
    text-align: center;
    font-size:20px;
}

/*
h1
{
    
    color:#ff0000;
    font-size:30px;
    
}
*/

.Tomato
{
background-color: tomato;
}

.Orange
{
    background-color: orange;
}

.DogerBlue
{
    background-color: dodgerblue;
}

.MediumSeaGreen
{
    background-color: mediumseagreen;
}

.Gray
{
    background-color: gray;
}

.SlateBlue
{
    background-color: slateblue;
}

.Violet
{
    background-color: violet;
}

.LightGray
{
    background-color: lightgray;
}


#titleBlock
{
    
    background:#232F3E;
    
    
    width: 100%;

    height: 240px;
    
    /*
    position: absolute;
    */
    
    position: fixed;
    top: 0;
    left: 0;   
    
    z-index:1;
    
}

#titleSpace
{
    width: 100%;

    height: 240px;
}


#content
{

    border:3px solid #000;
    
    /*position: absolute;*/

    width: 1000px;

    height: 1500px;
/*
    left:50%;
*/
    margin:0 auto 0 auto;
    
}

.contentContainer
{
   /*
 margin:0 auto 0 auto;
 */
}

.titleBlockContainer 
{
 width:100%;
 /*
 border:3px solid #ff0000;
 */

 /*
 margin:0 auto 0 auto;
 */
}

#firstPageButton
{
    color:#ff0000;
    font-size:60px;
    
    border:3px solid #000;
    
    
    padding: 20px;
    
    
    width: 150px;
    
    
    height: 80px;

}

a:link
{
color:white;
background-color: transparent;
text-decoration: none;
}

a:visited
{
    color:white;
    background-color: transparent;
    text-decoration: none;
}

a:hover
{
    color:white;
    background-color: transparent;
    text-decoration: underline;
}

a:active
{
    color:white;
    background-color: transparent;
    text-decoration: underline;
}

#Profile
{
    /*
    border:3px solid #000;
    */
    width:216px;
    height: 29px;
    background:url("../image/bg_ggxrd_leftmenu_heading.png");
    line-height:29px;
    text-align:center;
    
}

#ProfileLink
{
    text-align:center;
    /*    
    display: block;
    */
    z-index: 2;
    
    vertical-align: middle;
}

#Record
{
    /*
    border:3px solid #000;
    */
    width:216px;
    height: 29px;
    background:url("../image/bg_ggxrd_leftmenu_heading.png");
    line-height:29px;
    text-align:center;
    
}

#RecordLink
{
  
    text-align:center;
    /*
    display: block;
    */
    z-index: 2;
    /*
    vertical-align: text-bottom;
    */
    
}

#Logout
{
    /*
    border:3px solid #000;
    */
    width:216px;
    height: 29px;
    background:url("../image/bg_ggxrd_leftmenu_heading.png");
    line-height:29px;
    text-align:center;
    
}

#LogoutLink
{
   
   
    text-align:center;
    /*
    display: block;
    */
    z-index: 2;

    /*
    vertical-align: text-bottom;
    */
    
}

